.wrap{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.signIn {
    border: none;
    height: 25px;
    width: 65px;
    font-size: 16px;
    font-family: auto;
}

.register{
    background-color: #025ba3;
    height: 25px;
    width: 65px;
    font-size: 16px;
    font-family: auto;
    color: white;
    border: none;
}