.wrap{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.signIn {
    cursor: pointer;
    height: 29px;
    width: 84px;
    font-size: 21px;
    font-family: auto;
    background-color: #181a1e;
    border-radius: 11px;
    color: white;
    border: none;
    box-shadow: 0 0.5px gold;
}

