.nav {
  padding-left: 2vw;
  font-size: 20px;
  width: 10%;
  background-color: #181a1e;
  height: 98vh;
  padding-top: 3vw;
}

nav div{
  padding-top: 1vw;
}

nav a {
  color: aliceblue;
}

.activeItem {
  color: gold;
}