.inputSearch {
    background-color: #181a1e;
    color: white;
    border: none;
    width: 175px;
    border: none;
    font-size: 14px;
    height: 25px;
    text-align: center;
    box-shadow: 0 0.5px gold;
}

.wrap{
    display: flex;
    align-items: center;
}