*{
  margin: 0;
  padding: 0;
}

.wrap{
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

.contentWrap{
  width: 70%;
  display: flex;
  flex-direction: row;
}

.content{
  width: 90%;
  background-color: chartreuse;
}